<footer  class="footer-copyright">
    <div class="container">
      <div class="footer-content">
        <div class="row">
  
          <div class="col-sm-3">
            <div class="single-footer-item">
              <div class="footer-logo">
                <a href="index.html">
                  Good<span>Life</span>
                </a>
                <p>
                  best car rent platform
                </p>
              </div>
            </div><!--/.single-footer-item-->
          </div><!--/.col-->
  
          <div class="col-sm-3">
            <div class="single-footer-item">
              <h2>link</h2>
              <div class="single-footer-txt">
                <p>home</p>
                <p><a href="#"  [routerLink]="['/products']">products</a></p>
                <p><a href="#" [routerLink]="['/products']">finding</a></p>
                <p>tours</p>
                <p>places</p>
              </div><!--/.single-footer-txt-->
            </div><!--/.single-footer-item-->
  
          </div><!--/.col-->
  
          <div class="col-sm-3">
            <div class="single-footer-item">
              <h2>popular car</h2>
              <div class="single-footer-txt">
                <p>BMW</p>
                <p>Benz</p>
                <p>Ford</p>
                <p></p>
                <p></p>
              </div><!--/.single-footer-txt-->
            </div><!--/.single-footer-item-->
          </div><!--/.col-->
  
          <div class="col-sm-3">
            <div class="single-footer-item text-center">
              <h2 class="text-left">contacts</h2>
              <div class="single-footer-txt text-left">
                <p>+1 (123) 456789</p>
                <p class="foot-email">goodlife@gmail.com</p>
                <p>360 Huntington Ave</p>
                <p>Boston, USA</p>
              </div><!--/.single-footer-txt-->
            </div><!--/.single-footer-item-->
          </div><!--/.col-->
  
        </div><!--/.row-->
  
      </div><!--/.footer-content-->
      <hr>
  
      <p>&copy; 2019 INFO6150 Final Project</p>
  
    </div>
  
  </footer>
