<!-- <p>login works!</p> -->
<div class="container-login100">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <div *ngIf="loginFailed">Log in failed!</div>
    <form (ngSubmit)="login()" class="login100-form validate-form">
      <span class="login100-form-title p-b-37">Sign In</span>
      <div class="wrap-input100 validate-input m-b-20">
        <input class="input100" type="text" name="username" [(ngModel)]="username" placeholder="username">
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-25">
        <input class="input100" type="password" name="password" [(ngModel)]="password" placeholder="password">
        <span class="focus-input100"></span>
      </div>
      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn">Sign in</button>
      </div>
    </form>
    <div class="text-center">
      <button (click)="register()" class="txt2 hov1">Sign up</button>
    </div>
  </div>
</div>
