<div class="background">
  <div class="card"></div>

  <div class="card-body">
    <div class="container-fluid">

      <div></div>
      <br>

      <div class="text-center">
        <h3 style="color: white;">Welcome to GOODLIFE</h3>
      </div>
      <br>

      <div class="text-center">
        <h1 class="b">Way better than a rental car</h1>
      </div>

      <div class="text-center">
        <h5 class="d">Book unforgettable cars from trusted hosts around the world</h5>
      </div>
      <br>

      <div class="text-center">
        <button class='btn list' (click)='onList()'><b>View inventory</b></button>
        <br>
        <br>
        <button class='btn contact' (click)='onContact()'><b>Contact us</b></button>
    </div>

    </div>
  </div>
</div>
