.mainc {
    display: grid;
    max-width: grid__bp-md * 1px;
    grid-template-columns: 30% auto 30%;
    margin:10px;
    background-color: rgb(31, 27, 34);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 6px;

  }
  .mainc_a {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(31, 27, 34);
  }

  .mainc_b {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color:rgb(31, 27, 34);
  }

  .gform_title {
    margin: 0 0 12px 0;
    font-size: 40px;
    line-height: 50px;
    color: red;
    display: block;
    width: 100%;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
  }
