<div id="container">

    <main>
        <h3 class="gform_title">User Detail</h3>  
        <form method="get" name="Form"  onsubmit="results();" action="displayResult.html">
          <fieldset>
              <label> Username * :</label>
              <input type="text" name="firstName" [(ngModel)]="user.username"/>
          </fieldset>

          <fieldset>
            <label> Password * :</label>
            <input type="text" name="password" [(ngModel)]="user.password"/>
        </fieldset>
          
        <fieldset>
            <label> Email * :</label>
            <input type="text" name="email" [(ngModel)]="user.email"/>
        </fieldset>


           <label for="zipcode">ZipCode*:</label>
           <input type="text" name="zipcode" id="zipcode" placeholder="xxxxxx" onchange="zipValidation(this)" />
           <p class="zip"></p>
           <br><br>

          

           
        
           <br><br>
           <input type="Submit" value ="Submit" onclick="update()" >
           <input type="Reset">
           <br><br>
        </form>
    </main>
</div>
